.card {
    margin: 2% 2% !important;
}

.Gryffindor {
    border-bottom: 5px solid #bb1300;
}

.Ravenclaw {
    border-bottom: 5px solid #0028aa;
}

.Slytherin {
    border-bottom: 5px solid #00800b;
}

.Hufflepuff {
    border-bottom: 5px solid #E3A000;
}

.House {
    border-bottom: 5px solid rgba(0, 0, 0, 0.8);
}

